/* @font-face {
  font-family: 'Lato';
  src: local('Lato'), url(../public/fonts/Lato-Regular.ttf) format('ttf');
} */
@font-face {
  font-family: "Lato";
  src: url(./fonts/Lato-Regular.ttf);
}

body {
  font-family: "Lato";
  background-image: url("../public/images/gradient-background-1.png");

  /* font-weight: 300; */
}

.section-1{
  /* background-image: radial-gradient(#333D47, #0D1822); */
  /* background-image: url("../public/images/gradient-background-1.png"); */
  /* height: 100vh; */
  color: white;
}
.section-1-socials{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3em;
  color: #BAC1CD;
}
.section-1-socials svg{
  margin-right: 10px;
  transition: 0.4s;
}
.section-1-socials svg:hover{
  color: grey;
  transform: rotate(20deg);
  cursor: pointer;
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.815));
}
.section-1-content{
  height: 90vh;
}
.section-1-border-top{
  background-color: rgb(77, 77, 77);
  left: 0px;
  top: 0px;
  position: absolute;
  height: 3px;
  width: 210px;
}
.section-1-border-left{
  background-color: rgb(77, 77, 77);
  position: absolute;
  left: 0;
  top: 0;
  height: 170px;
  width: 3px;
}
.portfolio-title-underline{
  background-color: #4E4C58;
  height: 3px;
  width: 100%;
}
.portfolio-photo{
  border-radius: 100%;
  border: 3px solid #757575;
  background-image: url("../public/images/me.jpeg");
  background-size: cover;
  background-position: center;
  margin-top: -140px;
  width: 200px;
  height: 200px;
  float: right;
  /* margin: 0 auto; */
}
@media (max-width: 767.98px) {
  .portfolio-photo{
    margin: 0 auto;
    float: none;
  }
}


.section-2{
  /* background-image: url("../public/images/gradient-background-1.png"); */
  /* background-image: radial-gradient(#333D47, #0D1822); */
  /* height: 100vh; */
  color: white;
  min-height: 2000px;
}
.section-2-content{
  margin-top: 6em;
}

.education{
  background-color: rgba(163, 163, 163, 0.089);
  position: relative;
  padding: 2em;
}
.project-container{
  position: relative;
  padding: 0;
}
.project{
  height: 250px;
  /* background-color: red; */
  background-size: cover;
  background-position: center;
  position: relative;
  animation-name: opacityAnimation;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}
.project-info{
  background-Image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.589));
  backdrop-filter: blur(1px);
  padding: 1em;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.education-connection-right{
  position: absolute;
  z-index: 0;
  top: 50%;
  background-color: rgb(138, 138, 138);
  height: 5px;
  /* transition: 1s; */
  animation-name: example;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.education-connection-down{
  position: absolute;
  right: -110px;
  top: 50%;
  background-color: rgb(138, 138, 138);
  width: 5px;
  height: 0px;
  animation-name: example1;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.project-connection-left{
  position: absolute;
  left: -125px;
  top: 50%;
  background-color: rgb(138, 138, 138);
  /* width: 125px; */
  height: 5px;
  animation-name: example2;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  z-index: -1;
}
.project-connection-left-title{
  position: absolute;
  left: -110px;
  font-size: 0.8em;
  font-weight: bold;
  top: 40%;
  animation-name: opacityAnimation;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  z-index: -1;
  opacity: 0;
}

@keyframes example {
  from {
    border-right: 10px solid rgb(255, 255, 255);
    width: 0;
    right: 0;
  }
  to {
    width: 110px;
    right: -110px;
    border-right: 0px solid rgb(255, 255, 255);
  }
}

@keyframes example1 {
  from {
    height: 0;
    border-bottom: 10px solid rgb(255, 255, 255);
  }
  to {
    height: 1000px;
    border-bottom: 0px solid rgb(255, 255, 255);
  }
}

@keyframes example2 {
  0% {
    width: 0px;
    /* left:  0px; */
    border-right: 10px solid rgb(255, 255, 255);
    background-color: rgba(138, 138, 138, 0);
  }
  /* 50% {
    background-color: rgba(156, 156, 156, 0.425);
  } */
  100% {
    width: 125px;
    border-right: 0px solid rgb(255, 255, 255);
    background-color: rgb(138, 138, 138);
    /* left: -125px; */
  }
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}