body {
  font-family: "Lato";
  background-color: #131D27;
  color: white;
}

@font-face {
  font-family: "Lato";
  src: url(./fonts/Lato-Regular.ttf);
}

a{
  color: white;
}

.summary{
  font-size: 1.1em;
}

.section-1{
  /* background-image: radial-gradient(#333D47, #0D1822); */
  /* background-image: url("../public/images/gradient-background-1.png"); */
  /* height: 100vh; */
  color: white;
}
.section-1-content{
  height: 90vh;
}
.section-1-border-top{
  background-color: rgb(77, 77, 77);
  left: 0px;
  top: 0px;
  position: absolute;
  height: 3px;
  width: 210px;
}
.section-1-border-left{
  background-color: rgb(77, 77, 77);
  position: absolute;
  left: 0;
  top: 0;
  height: 170px;
  width: 3px;
}
.portfolio-title-underline{
  background-color: #4E4C58;
  height: 3px;
  width: 100%;
}
.portfolio-photo{
  border-radius: 100%;
  border: 3px solid #757575;
  background-image: url("../public/images/me.jpeg");
  background-size: cover;
  background-position: center;
  margin-top: -140px;
  width: 200px;
  height: 200px;
  float: right;
  /* margin: 0 auto; */
}
@media (max-width: 767.98px) {
  .portfolio-photo{
    margin: 0 auto;
    float: none;
  }
}


.section-2{
  /* background-image: url("../public/images/gradient-background-1.png"); */
  /* background-image: radial-gradient(#333D47, #0D1822); */
  /* height: 100vh; */
  color: white;
  min-height: 2000px;
}
.section-2-content{
  margin-top: 4em;
}
.project-container{
  position: relative;

  padding: 0;
}

.education-connection-right{
  position: absolute;
  z-index: 0;
  top: 50%;
  background-color: rgb(138, 138, 138);
  height: 5px;
  /* transition: 1s; */
  animation-name: example;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.education-connection-down{
  position: absolute;
  right: -110px;
  top: 50%;
  background-color: rgb(138, 138, 138);
  width: 5px;
  height: 0px;
  animation-name: example1;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.project-connection-left{
  position: absolute;
  left: -125px;
  top: 50%;
  background-color: rgb(138, 138, 138);
  /* width: 150px !important; */
  height: 5px;
  animation-name: example2;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  z-index: -1;
}
.project-connection-left-title{
  position: absolute;
  left: -110px;
  font-size: 0.8em;
  font-weight: bold;
  top: 40%;
  animation-name: opacityAnimation;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  z-index: -1;
  opacity: 0;
}

@keyframes example {
  from {
    border-right: 10px solid rgb(255, 255, 255);
    width: 0;
    right: 0;
  }
  to {
    width: 110px;
    right: -110px;
    border-right: 0px solid rgb(255, 255, 255);
  }
}

@keyframes example1 {
  from {
    height: 0;
    border-bottom: 10px solid rgb(255, 255, 255);
  }
  to {
    height: 1000px;
    border-bottom: 0px solid rgb(255, 255, 255);
  }
}

@media (max-width: 1399.98px) {
  .project-connection-left{
    left: -95px !important;
  }
}
@media (max-width: 1199.98px) {
  .project-connection-left{
    left: -65px !important;
  }
}
@media (max-width: 991.98px) {
  .project-connection-left{
    left: -25px !important;
  }
}
@media (max-width: 767.98px) {
  .project-connection-left{
    /* left: -65px !important; */
    display: none;
  }
  .education-connection-right{
    display: none;
  }
}
@media (max-width: 575.98px) {
  .project-connection-left{
    /* left: -65px !important; */
    display: none;
  }
  .education-connection-right{
    display: none;
  }
}


@keyframes example2 {
  0% {
    width: 0px;
    /* left:  0px; */
    border-right: 10px solid rgb(255, 255, 255);
    background-color: rgba(138, 138, 138, 0);
  }
  /* 50% {
    background-color: rgba(156, 156, 156, 0.425);
  } */
  100% {
    width: 125px;
    border-right: 0px solid rgb(255, 255, 255);
    background-color: rgb(138, 138, 138);
    /* left: -125px; */
  }
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translate(30px);
  }
  100% {
    opacity: 1;
  }
}

.fadein{
  animation-name: fadeInAnimation;
  animation-duration: 2s;
}


/* Projects List */



/* Landing Page */

.main-background{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: url("../public/images/gradient-background-1.png");
  z-index: -1;
  animation-name: mainBackgroundOpacityAnimation;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  opacity: 1;
}

@keyframes mainBackgroundOpacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body{
  /* background-image: url("../public/images/gradient-background-1.png"); */
  /* background-repeat: repeat-y; */
  background-size: contain;
  background-attachment: fixed;
  overflow-x: hidden;
  /* transition: background-image 300ms ease-in 200ms; */
  /* background-position: center; */
}
*{
  scrollbar-width: thin;
}

/* h1{
  font-size: 4em;
} */

.subtitle{
  /* font-size: 1.7em; */
  color: rgb(153, 153, 153);
}

.landing-page-main{
  /* position: relative; */
  /* overflow: hidden; */
}
.landing-page-actions{
  margin-top: 200px;
}
/* .landing-page-avatar{
  position: absolute;
} */

.btn-main{
  border-radius: 1px;
  padding: 0.5em 2em;
  font-size: 1.3em;
  background-color: #394166;
  color: white;
  box-shadow: 10px 10px #2B2F45;
  transition: 0.5s;
}

.btn-main:hover{
  background-color: #4a5480;
  box-shadow: 4px 4px #2B2F45;
}

.btn-secondary{
  border-radius: 1px;
  padding: 0.5em 2em;
  font-size: 1em;
  background-color: #3e517a;
  border: 0;
  color: white;
  box-shadow: 6px 6px #2B2F45;
  transition: 0.5s;
}

.btn-secondary:hover{
  background-color: #6570a0;
  box-shadow: 4px 4px #2B2F45;
}

.section-1-socials{
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 3em;

}
.section-1-socials a{
  color: #BAC1CD;
}
.section-1-socials svg{
  margin-right: 10px;
  transition: 0.4s;
}
.section-1-socials svg:hover{
  color: grey;
  transform: rotate(20deg);
  cursor: pointer;
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.815));
}



.tech{
  font-size: 4em;
}

.tag {
  padding: 0.2em 1em;
  /* background-color: #303A55; */
  /* background-color: #373b46; */
  font-size: 1.1em;
  background-color: #4f6849;
  margin-right: 0.5em;
  margin-top: 0.5em;
  display: inline-block;
  /* box-shadow: 2px 2px #1f165c42; */
  box-shadow: 2px 2px #423f5842;
}

.projects-container{
  margin-top: 10em;
  opacity: 0;
}

.education-container{
  opacity: 0;
}

@media (max-width: 767.98px) {
  .avatar-container{
    margin-top: 6em;
  }

  .landing-page-actions{
    margin-top: 3em;
  }
  .projects-container{
    margin-top: 2em;
  }
}
@media (max-width: 575.98px) {
  body{
    background-size: cover;
    background-position: center;
  }
  .avatar-container{
    margin-top: 0em;
  }

  .landing-page-actions{
    margin-top: 3em;
  }
  .projects-container{
    margin-top: 2em;
  }
}
