.section-1{
  /* background-image: radial-gradient(#333D47, #0D1822); */
  background-image: url("../public/images/gradient-background-1.png");
  /* height: 100vh; */
  color: white;
}
.section-1-socials{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3em;
  color: #ececec;
}
.section-1-socials svg{
  margin-right: 10px;
}
.section-1-content{
  height: 100vh;
}


.section-2{
  background-image: url("../public/images/gradient-background-1.png");
  /* background-image: radial-gradient(#333D47, #0D1822); */
  /* height: 100vh; */
  color: white;
}